<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background: #000;">
    <div class="chat-box" style="border: none; height: auto;">
        {{range .Messages}}
        <div class="message" style="border-left: 3px solid {{.Color}}; padding-left: 10px; margin-bottom: 5px;">
            <span class="time" style="color: #444;">[{{.Timestamp.Format "15:04"}}]</span>
            <span class="user" style="color: {{.Color}}; font-weight: bold;">{{.Sender}}:</span>
            <span class="text" style="color: {{.Color}};">
                {{.Content}}
            </span>
        </div>
        {{end}}
    </div>
</body>
</html>