<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="5; URL=/messages#bottom">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background: #000; padding: 0; margin: 0; overflow-x: hidden;">
    <div class="chat-box">
        {{range .Messages}}
        <div class="message" style="border-left-color: {{.Color}};">
            <span class="time">[{{.Timestamp.Format "15:04"}}]</span>
            <span class="user" style="color: {{.Color}};">{{.Sender}}:</span>
            <span class="text" style="color: {{.Color}};">
                {{if .IsEncrypted}}
                    {{if eq .Target $.Username}} {{.Content}} {{else}} <span class="enc-label">[Encrypted]</span> {{end}}
                {{else}}
                    {{.Content}}
                {{end}}
            </span>
        </div>
        {{end}}
        <div id="bottom"></div>
    </div>
</body>
</html>