<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background: transparent;">
    <div class="chat-box" style="border: none; height: auto;">
        {{range .Messages}}
        <div class="message" style="border-left-color: {{.Color}};">
            <span class="time">[{{.Timestamp.Format "15:04"}}]</span>
            <span class="user" style="color: {{.Color}};">{{.Sender}}:</span>
            <span class="text" style="color: {{.Color}};">
                {{if .IsEncrypted}}
                    {{if eq .Target $.Username}} {{.Content}} {{else}} <span style="color: #555;">[Encrypted]</span> {{end}}
                {{else}}
                    {{.Content}}
                {{end}}
            </span>
        </div>
        {{end}}
    </div>
</body>
</html>