<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="10">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        body { 
            background: transparent !important; 
            margin: 0; 
            padding: 0; 
            overflow: hidden; 
            display: flex; 
            align-items: center;
        }
    </style>
</head>

<body>
    <span class="online-list">
        {{range $index, $user := .OnlineUsers}}
            {{if $index}}, {{end}}<span style="color: {{$user.Color}};">{{$user.Username}}</span>
        {{end}}
    </span>
</body>
</html>